# Database
DATABASE_URL=file:./dev.db

# Better Auth
BETTER_AUTH_SECRET=auth-secret-here
BETTER_AUTH_URL=http://localhost:3000

# Stripe
NUXT_STRIPE_PUBLIC=stripe-secret-here
NUXT_STRIPE_SECRET=stripe-secret-here
NUXT_STRIPE_WEBHOOK_SECRET=stripe-secret-here

# AWS
NUXT_AWS_S3_BUCKET_NAME=carsons-village-uploads-stage.npts.tech
NUXT_EMAIL_SOURCE_ADDRESS=caleb.beeson@npts.tech
AWS_ACCESS_KEY_ID=aws-secret-here
AWS_SECRET_ACCESS_KEY=aws-secret-here

# Constant Contacts
NUXT_CONSTANT_CONTACTS_CLIENTID=constant-contacts-secret-here
NUXT_CONSTANT_CONTACTS_SECRET=constant-contacts-secret-here
NUXT_CONSTANT_CONTACTS_LIST_MEMBERSHIP=constant-contacts-secret-here

# App
NUXT_BASEURL=http://localhost:3000/
PORT=3000
