.root
  p.hello Hello #{first_name} #{last_name}, you have been invited to Carson's Village.
  p.blurb Please go to the link below to create an account. You will access your pages via this same link.
  a.url(href=url) Click here!