doctype html 
head 
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap' rel='stylesheet')
	link(rel='stylesheet' href='/stylesheets/main.css')
	html
		head
			include header.html
	
	.container.overflow-hidden.bg-white.mx-auto.mt-8(class="w-5/6" style="height: 650px; box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.15), 0px 3px 3px rgba(0, 0, 0, 0.3); border-radius: 60px;")
		.text-7xl.text-center.pt-20(style="color: transparent; text-shadow: 0 0 0 #6eabbf") ✔
		.text-gray-dark.font-bold.font-poppins.text-4xl.text-center.py-16(class="sm:text-6xl") Submitted successfully!
		.images(style="position:relative;")
			img.pt-7.mx-auto.bg-no-repeat.w-full.object-cover(style="height: 650px; position:absolute" src="/images/blue_image2.jpg")
			a.p-3.px-8.pt-3.bg-white.rounded-full.font-poppins(style="text-transform: uppercase; color: #6eabbf; font-weight: 600; top: 175px; z-index: 2; position: absolute; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); border: none; cursor: pointer;" href=back role='button') Return to Profile
htmla
	head
		include footer.html