doctype html
head
	title Login
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
body
	.container
		h1.text-center ERROR
		h2.text-center=userEmail
		h3.text-center(style='color:red')=error
		br
		a.btn.btn-info(href='/logout/') Go back to login page