doctype html
head
	title Login
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
html
	head 
		include header.html
body
	.container
		h1.text-center ERROR
		h2.text-center=userEmail
		h3.text-center(style='color:red')=error
		br
html
	head
		include footer.html