doctype html

head 
	title Donate to Carson's Village
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
	script(src='https://checkout.stripe.com/checkout.js', defer)

html
	head 
		include header.html

body
	h1.text-center Donate
	form.form-horizontal(method='post' action=userAction)
		fieldset
			.information.bg-gray-light.rounded-md.mx-9.my-2.text-center(class="sm:text-start")
				legend.ml-2(class="sm:py-1" style="font-weight: 700; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") (legend)
			.form-group.py-4.grid(class="sm:grid-cols-3")
				label.ml-10.pt-1(class="sm:ml-11" for='page_name' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") First Name
				.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
					input#page_name.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='first_name' type='text' placeholder='Required' required)
			.form-group.py-4.grid(class="sm:grid-cols-3")
				label.ml-10.pt-1(class="sm:ml-11" for='page_name' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Last Name
				.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
					input#page_name.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='last_name' type='text' placeholder='Required' required)
			.form-group.py-4.grid(class="sm:grid-cols-3")
				label.ml-10.pt-1(for='visitation_description' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Comments
				.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
					textarea#visitation_description.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='comments' rows='3')
			.form-group.py-4.grid(class="sm:grid-cols-3")
				label.ml-10.pt-1(for='donation_goal' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Donation Amount (USD)
				.col-md-8.flex.mx-9(class="sm:col-span-2 sm:ml-11 sm:mr-9")
					span.rounded-l-md.bg-gray-light.text-lg.p-2(style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); border: 1px solid #c4c4c4;") $
					input#donation_goal.outline-0.rounded-r-md.border-box.w-full.p-2(style="border: 1px solid #c4c4c4;" name='donation_amount' type="number" min="0.00" step="0.01" placeholder='Required' required)
			.form-group.ml-9.mb-9
				label.control-label(for='submit')
				.col-md-10
					button#submit.p-3.px-6.pt-2.bg-orange(style="color: white; font-weight: 700; border-radius: 32px;" name='submit') Save

script.
	var stripePublicKey = '<%= stripePublicKey %>'

head 
	include footer.html