doctype html
head
	title=title
	link(rel='stylesheet' href='/stylesheets/main.css')
	link(href='https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap' rel='stylesheet')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')

html
	head
		include header.html

body
	.row.p-3
		a.p-3.px-6.pt-2.text-white.bg-orange.font-poppins(style="font-weight: 700; border-radius: 32px;" href=back role='button') Back
	.container.overflow-hidden.mt-4.mx-auto.place-content-center.font-poppins(class="w-5/6 sm:max-w-xl sm:p-6" style="box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.15), 0px 3px 3px rgba(0, 0, 0, 0.3); border-radius: 60px;")
		.well.well-sm
			h1.text-center.pt-9.text-xl(class="sm:text-3xl" style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); font-weight: 700;") Insert New Family Page
			.bar.mx-9(style="border-top: 0.5px solid #646464;")
		br
		form.form-horizontal(method='post' action=userAction)
			fieldset
				.information.bg-gray-light.rounded-md.mx-9.my-2.text-center(class="sm:text-start")
					legend.ml-2(class="sm:py-1" style="font-weight: 700; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Personal Information 				
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(class="sm:ml-11" for='page_name' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Page Name
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#page_name.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='page_name' type='text' placeholder='Required' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='images' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Images
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#images.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='images' type='file' multiple)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='images' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Day of Birth
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#day_of_birth.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='day_of_birth' type='date' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='images' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Day of Passing
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#day_of_birth.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='day_of_passing' type='date' required)
				.information.bg-gray-light.rounded-md.mx-9.my-2.text-center(class="sm:text-start")
					legend.ml-2(class="sm:py-1" style="font-weight: 700; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Visitation Information 						
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='visitation_date' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Date
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#visitation_date.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='visitation_date' type='date' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='visitation_time' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Time
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#visitation_time.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='visitation_time' type='time' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='visitation_location' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Location
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#visitation_location.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='visitation_location' type='text' placeholder='Required' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='visitation_description' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Description
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						textarea#visitation_description.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='visitation_description' rows='3' placeholder='Required' required)
				.information.bg-gray-light.rounded-md.mx-9.my-2.text-center(class="sm:text-start")
					legend.ml-2(class="sm:py-1" style="font-weight: 700; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Funeral Information 					
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='funeral_date' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Date
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#funeral_date.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='funeral_date' type='date' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='funeral_time' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Time
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#funeral_time.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='funeral_time' type='time' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='funeral_location' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Location
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#funeral_location.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='funeral_location' type='text' placeholder='Required' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='funeral_description' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Description
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						textarea#funeral_description.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='funeral_description' rows='3' placeholder='Required' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='obituary' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Obituary 
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						textarea#obituary.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='obituary', rows='12' placeholder='Required' required)
				.information.bg-gray-light.rounded-md.mx-9.my-2.text-center(class="sm:text-start")
					legend.ml-2(class="sm:py-1" style="font-weight: 700; text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Fundraising Information 		
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='donation_goal' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Goal
					.col-md-8.flex.mx-9(class="sm:col-span-2 sm:ml-11 sm:mr-9")
						span.rounded-l-md.bg-gray-light.text-lg.p-2(style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25); border: 1px solid #c4c4c4;") $
						input#donation_goal.outline-0.rounded-r-md.border-box.w-full.p-2(style="border: 1px solid #c4c4c4;" name='donation_goal' type="number" min="0.00" step="0.01" placeholder='Required' required)
				.form-group.py-4.grid(class="sm:grid-cols-3")
					label.ml-10.pt-1(for='deadline' style="text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);") Deadline Date
					.col-md-8.mx-9(class="sm:col-span-2 sm:mr-11")
						input#deadline.rounded-md.outline-0.border-box.w-full.p-2(class="sm:ml-2" style="border: 1px solid #c4c4c4;" name='deadline' type='datetime-local' required)
						input.opacity-0(id="timezone" name='timezone' type='text')
				.form-group.ml-9.mb-9
					label.control-label(for='submit')
					.col-md-10
						button#submit.p-3.px-6.pt-2.bg-orange(onclick="getTimezone()" style="color: white; font-weight: 700; border-radius: 32px;" name='submit') Save
script.
	function seconds_with_leading_zeros(dt) 
	{ 
	return /\((.*)\)/.exec(new Date().toString())[1];
	}

	const getTimezone = () =>{
		dt = new Date(); 
		document.getElementById("timezone").value = seconds_with_leading_zeros(dt); 
	}

html
	head
		include footer.html