head
	title Page Search
	link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
html
	head
		include header.htm
.container
	.well
		b Search Results1
	table.table.table-striped
		thead
			tr
				th family_id 
				th page_name 
				th donation_goal
				th deadline
			each item in items
				tr
					td=item.family_id
					td
						a(href='/search/pages/'+item.family_id+'/'+item.page_name)=item.page_name
					td=item.donation_goal
					td=item.deadline
html
	head
		include footer.html