doctype html
head
	title Data Entry Test
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
.container
	form.form-horizontal(method='post' action=userAction)
		fieldset
			// form name
			legend User Account Entry
			// Text input
			.form-group
				label.col-md-4.control-label(for='user_id') User ID
				.col-md-4
					input#user_id.form-control.input-md(name='user_id' type='text' placeholder='(auto generate)')
			.form-group
				label.col-md-4.control-label(for='email') Email
				.col-md-4
					input#email.form-control.input-md(name='email' type='text' placeholder='(user defined)')
			.form-group
				label.col-md-4.control-label(for='user_role') User Role
				.col-md-4
					select#user_role.form-control.input-md(name='user_role' type='number' placeholder='(administrator/advocate defined)')
						option(value='1') family
						option(value='2') advocate/administrator
						option(value='3') disabled
			.form-group
				label.col-md-4.control-label(for='password_hash') Password Hash
				.col-md-4
					input#password_hash.form-control.input-md(name='password_hash' type='text' placeholder='(auto generate)')
			.form-group
				label.col-md-4.control-label(for='password_salt') Password Salt
				.col-md-4
					input#password_salt.form-control.input-md(name='password_salt' type='text' placeholder='(auto generate)')
			.form-group
				label.col-md-4.control-label(for='first_name') First Name
				.col-md-4
					input#first_name.form-control.input-md(name='first_name' type='text' placeholder='(user defined)')
			.form-group
				label.col-md-4.control-label(for='middle_name') Middle Name
				.col-md-4
					input#middle_name.form-control.input-md(name='middle_name' type='text' placeholder='(user defined, optional)')
			.form-group
				label.col-md-4.control-label(for='last_name') Last Name
				.col-md-4
					input#last_name.form-control.input-md(name='last_name' type='text' placeholder='(user defined)')
			.form-group
				label.col-md-4.control-label(for='phone') Phone
				.col-md-4
					input#phone.form-control.input-md(minlength='10' maxlength='10' name='phone' type='text' placeholder='(user defined, optional)')
			//	button
			.form-group
				label.col-md-4.control-label(for='submit')
				.col-md-4
				button#submit.btn.btn-primary(name='submit') Save
.row
	.col-md-6
			a.btn.btn-info(href=back role='button') Back