doctype html
head
  title Index
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
html
  head
    include header.html
.container
  h1 General User Search
  br
  legend Search up list of all users based on name and role
  form(action='/search/user-search' method='post' target='_self')
    .form-group
      label(for='first_name') First Name
      input#first_name.form-control(type='text' name='first_name')
    .form-group
      label(for='middle_name') Middle Name
      input#middle_name.form-control(type='text' name='middle_name')
    .form-group
      label(for='last_name') Last Name
      input#last_name.form-control(type='text' name='last_name')
    .form-group
      label(for='status') User Role
      select#status.form-control(name='status' type='number')
        option(value='1') family
        option(value='2') advocate/admin
        option(value='3') disabled
    .form-group
      label(for='search')
      input(type='submit' value='search')
html
  head
    include footer.html