head
	title User Search
	link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
.container
	.well
		b Search Results
	table.table.table-striped
		thead
			tr
				th user_id
				th first_name 
				th middle_name 
				th last_name 
			each item in items
				tr
					td=item.user_id
					td=item.first_name
					td=item.middle_name
					td=item.last_name